/* Define standard html elements */
body{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 16px; /* Use % or em to make font sizes relative to this main size */
    background-color: #E0E0E0;
    background-image: url(../images/bgmain.jpg);
	background-image: url(background.jpg);
	background-repeat: none;
	background-attachment: fixed;
}
img{
    border: 0;
}
/* define tags with id for structure */
#banner{
}
#content{
    width: 85%;
    float: left;
    background-color: rgba(240,240,240,.1);
}
#footer{
    margin-top: 15px;
    border-top: 1px solid #404040; /*#d4b753;*/
    font-size: .5em;
}
#loginstatus{
    float: right;
    font-size: .7em;
}
#main{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #404040;
    border-left: 1px solid #404040;
    border-bottom: 1px solid #101010;
    border-right: 1px solid #101010;
    background-image: url(../images/bg.jpg);
}
#menunavi{
}
#menunavi ul{
    list-style-type: none;
    margin: 0;
    padding: 0 0 5px 0;
}
#menunavi > ul  li{
    display: inline;
    padding: 0 15px 0 15px;
}
#quicklinks{
    width: 15%;
    float: right;
}
#quicklinks ul{
    list-style-type: none;
    margin: 5px;
    padding: 0;
}
#shoppingcart{
    float:left;
    font-size: .7em;
}
#sitesearch{
    display: inline-block;
}
#usercontent{
}

/* define general classes */
.center{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.clearfix{
    clear: both;
}
.companybanner{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.latestproducts{
    background-color:#d4b753;
    color: #a50221;
}
.left{
    float: left;
}
.productcost{
    font-size: .9em;
}
.producttitle{
    font-size: 1.1em;
    font-weight: bold;
}
.right{
    float: right;
}
.title{
    text-align: center;
    font-weight: bold;
    background-color: #E0E0E0;
    background-image: url(../images/bgmain.jpg);
}